:root {
    --nav-bg: black;
    --primary-color: #22ff00;
}

* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #000000 70%, #003300);
    color: var(--primary-color);
    font-family: monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background: rgb(19, 20, 19);
    border-bottom: 2px solid var(--primary-color);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 2;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    color: var(--primary-color);
    text-shadow: 0 0 2px var(--primary-color);
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: var(--primary-color);
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2rem;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

header nav a:hover {
    color: #00ff88;
    text-shadow: 0 0 5px #00ff88;
}

.language-toggle {
    position: absolute;
    top: 15px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.flag-circle {
    width: 32px;
    height: 32px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px var(--primary-color);
    background-color: black;
}

.flag-circle img.flag {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.lang-switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
}

.lang-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.lang-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--nav-bg);
    border: 2px solid var(--primary-color);
    border-radius: 34px;
    transition: background-color 0.3s;
}

.lang-slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    top: 2px;
    background-color: var(--primary-color);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--primary-color);
    transition: transform 0.3s;
}

.lang-switch input:checked + .lang-slider {
    background-color: #003300;
}

.lang-switch input:checked + .lang-slider::before {
    transform: translateX(20px);
}

#message {
    background: rgba(0, 0, 0);
    padding: 10px 40px;
    border: 6px solid var(--primary-color);
    font-size: 4rem;
    text-align: center;
    box-shadow: 0 0 15px var(--primary-color);
    border-radius: 10px;
    text-shadow: 0 0 8px var(--primary-color);
    margin-top: 150px;
    margin-bottom: 150px;
}

#stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: transparent;
    pointer-events: none;
}

.section-wrapper {
    width: 100%;
    max-width: 700px;
    margin: 0 20px;
}

.section-title {
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 3rem;
    font-weight: normal;
    text-shadow: 0 0 8px var(--primary-color);
    text-align: center;
}

.section-subtitle {
    margin-top: 100px;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: normal;
    text-shadow: 0 0 8px var(--primary-color);
    text-align: center;
}

.section-line {
    height: 2px;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
    width: 100%;
    margin: 5px 0 20px 0;
}

.text-box {
    background: rgba(0, 0, 0, 0.9);
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0 0 15px var(--primary-color);
    line-height: 1.6;
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 50px;
}

.project-box {
    background: rgba(0, 0, 0, 0.9);
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 0 15px var(--primary-color);
    padding: 20px;
    margin: 30px 0;
    max-width: 700px;
    width: 100%;
    gap: 20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    display: flex;
    position: absolute;
}

.project-box.active {
    display: flex;
    flex-direction: row;
    gap: 20px;
    opacity: 1;
    pointer-events: auto;
    position: relative;
}

.project-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

.project-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-shadow: 0 0 33px var(--primary-color);
    margin: 0; 
    margin-bottom: 10px;
}

.project-description {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
}

.site-link {
    display: block;
    margin-top: 40px;
    text-align: center;
}

.site-link img {
    width: 32px;
    height: 32px;
    filter: brightness(0) saturate(100%) invert(74%) sepia(79%) saturate(1136%) hue-rotate(66deg) brightness(105%) contrast(101%);
    transition: transform 0.2s, filter 0.3s;
}

.site-link img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.slider {
    width: 100%;
    max-width: 700px;
    margin: 40px 0;
    position: relative;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
}

.slider-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.slider .project-box {
    min-width: 100%;
    box-sizing: border-box;
}

.slider-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 15px;
}

.arrow {
    background: none;
    align-items: center;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1.5rem;
    border-radius:90%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.arrow:hover {
    background-color: rgba(34, 255, 0, 0.2);
    transform: scale(1.15);
}

.dots {
    display: flex;
    gap: 10px;
}

.dots button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dots button.active {
    background-color: var(--primary-color);
}

.dots button:hover {
    background-color: rgba(34, 255, 0, 0.5);
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 500px;
    margin: 80px auto;
    justify-items: center;
    align-items: center;
    margin-bottom: 180px;
}

.contact-link img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border: 3px solid var(--primary-color);
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 15px var(--primary-color);
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
}

.contact-link img:hover {
    transform: scale(1.15);
    box-shadow: 0 0 25px var(--primary-color);
    cursor: pointer;
    filter: brightness(1.5);
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: rgb(18, 145, 50);
    background-color: transparent;
    font-size: 0.8rem;
    margin-top: auto;
}
